.masthead {
    color:#bfbfbf !important;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(118, 118, 118, 0.8) 0%, rgba(92, 77, 66, 0.8), rgba(118, 118, 118, 0.8) 100%), url("../assets/img/bg-masthead.jpg");
    background-position: center;
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  .bg-transparent-white {
    background-color: #ffffffaa ;
  }
  .bg-main {
    background-color: rgb(69, 60, 60);
  }
  .text-gray {
    color: #ffffff !important;
  }


  .photo-gallery {
    color:#313437;
    background-color:#fff;
  }
  
  .photo-gallery p {
    color:#7d8285;
  }
  
  .photo-gallery h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
  }
  
  @media (max-width:767px) {
    .photo-gallery h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }
  
  .photo-gallery .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto 40px;
  }
  
  .photo-gallery .intro p {
    margin-bottom:0;
  }
  
  .photo-gallery .photos {
    padding-bottom:20px;
  }
  
  .photo-gallery .item {
    padding-bottom:30px;
  }
  
  